<template>
	<div class="main">
		Slider2
	</div>
	
</template>

<script>
	export default{
	        name:"Slider2",
	        data(){
	            return{
	            	
	            }
	        },
	        props:{
					
	        }
	}
</script>

<style lang="scss" scoped>
	.main{
		
	}
</style>