<template>
	<div class="main">
		Slider1
	</div>
	
</template>

<script>
	export default{
	        name:"Slider1",
	        data(){
	            return{
	            	
	            }
	        },
	        props:{
					
	        }
	}
</script>

<style lang="scss" scoped>
	.main{
		
	}
</style>