<template>
	<div class="language">
		<a href="#" class="language__item">Казакша</a>
		<a href="#" class="language__item">Русский</a>
		<a href="#" class="language__item">English</a>
	</div>
	
</template>

<script>
	export default{
			name:"Language",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.language{
		position: absolute;
		left:5vw;
		top:2vh;

		font-size: 16px;

		&__item{
			text-decoration: none;
			color:#333;

			font-size: .8em;
			margin:0em .2em; 
		}

		&__item:hover{
			text-decoration: none;
			color:#333;
		};
	}
</style>