<template>
	<div class="main-image">
		<div class="main-image__item main-image__server1"></div>
		<div class="main-image__item main-image__server2"></div>
		<div class="main-image__item main-image__man"></div>
		<div class="main-image__item main-image__woman"></div>
		<div class="main-image__item main-image__mobile"></div>
		<div class="main-image__item main-image__pc"></div>
		<div class="main-image__item main-image__icon1"></div>
		<div class="main-image__item main-image__icon2"></div>
		<div class="main-image__item main-image__icon3"></div>
		<div class="main-image__item main-image__icon4"></div>
		<div class="main-image__item main-image__icon5"></div>
		<div class="main-image__item main-image__icon6"></div>
	</div>
	
</template>

<script>
	export default{
			name:"MainImage",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.main-image{
		position: absolute;
		bottom: 0;
		
		left:0;
		right:0;

		margin-left:auto;
		margin-right:auto;      

		width: 80vw;
		height: 50vh;
		
		&__item{
			position: absolute;

			width: 50px;
			height: 50px;
			// background-color: #ccc;
		}
		
		&__server1{
			left: 25vw;
			bottom: 15vh;
			width: 250px;
			height: 420px;
			z-index: 89;
			background-image:url('/img/main/main.png');
			background-position: 40% 97%;
			background-size: 581% 200%;
		}

		&__server2{
			left: 35vw;
			bottom: 19vh;
			width: 330px;
			height: 420px;
			z-index: 88;
			background-image: url(/img/main/main.png);
			background-position: 66% 40%;
			background-size: 453% 240%;
		}

		&__man{
			left: 28vw;
			bottom: 9vh;
			width: 230px;
			height: 400px;
			// background-color: #bbb;  
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 20% 100%;
			background-size: 580% 180%;             
		}

		&__woman{
			left: 56vw;
			bottom: 9vh;
			width: 120px;
			height: 410px;
			z-index: 90;
			background-image: url(/img/main/main.png);
			background-position: 83% 98%;
			background-size: 918% 180%;
		}

		&__mobile{
			left: 43vw;
			bottom: 11vh;
			width: 173px;
			height: 400px;
			z-index: 89;
			background-image: url(/img/main/main.png);
			background-position: 99.8% 94%;
			background-size: 759.8% 190%;
		}

		&__pc{
			left: 52vw;
			bottom: 10vh;
			width: 250px;
			height: 230px;
			z-index: 89;
			background-image: url(/img/main/main.png);
			background-position: 68% 100%;
			background-size: 470.5% 300%;
		}

		&__icon1{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left: 20vw;
			bottom: 20vh;
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 0% 0%;
			background-size: 1005% 570%;
			
		}

		&__icon2{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left: 20vw;
			bottom: 44vh;
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 13.1% 0%;
			background-size: 1005% 570%;

		}

		&__icon3{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left: 71vw;
			bottom: 32vh;
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 25.3% 0%;
			background-size: 1005% 570%;

		}

		&__icon4{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left:66vw;
			bottom: 44vh;
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 37.1% 0.5%;
			background-size: 1005% 570%;

		}

		&__icon5{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left: 15vw;
			bottom: 32vh;
			z-index: 91;
			background-image:url('/img/main/main.png');
			background-position: 49.7% 0.3%;
			background-size: 1005% 570%;

		}

		&__icon6{
			border-radius: 100px;
			width: 120px;
			height: 120px;
			left: 66vw;
			bottom: 20vh;
			z-index: 90;
			background-image:url('/img/main/main.png');
			background-position: 61.4% 0.2%;;
			background-size: 1005% 570%;

		}


	}
</style>