<template>
	<div class="slider">
		<slider-title></slider-title>

		<language></language>
		<social></social>

		<timeline></timeline>
		
		<mainimage></mainimage>
	</div>
	
</template>

<script>
	export default{
			name:"Slider",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.slider{
		
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: #f7f3f1;
		-webkit-transition: background-color .5s ease-in;
		transition: background-color .5s ease-in;

		width: 100%;
		height: 100%;

		z-index: 99;
	}
</style>