<template>
	<div class="social">
		<p class="social__text">Поделиться:</p>
		<img class="social__image" src="/img/icons/vk.svg" alt="">
		<img class="social__image" src="/img/icons/facebook.svg" alt="">
		<img class="social__image" src="/img/icons/twiiter.svg" alt="">
		<img class="social__image" src="/img/icons/google.svg" alt="">
	</div>
	
</template>

<script>
	export default{
			name:"Social",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.social{
		font-size: 16px;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;

		position: absolute;
		top:2vh;
		right:5vw;

		&__text{
			color:#333;
			margin:0em .2em;
			font-size: .8em;
		}

		&__image{
			height: 25px;
			width: auto;
			object-fit: cover;

			margin:0em .2em;  

			cursor: pointer;
		}
	}
</style>