<template>
	<div class="timeline">
		
		<div class="timeline__section">
			<div class="timeline__text">Linux сервера</div>
			<div class="timeline__pointer"></div>
		</div>

		<div class="timeline__section">
			<div class="timeline__text">Web технологии</div>
			<div class="timeline__pointer"></div>
		</div>

		<div class="timeline__section">
			<div class="timeline__text">Шифрование</div>
			<div class="timeline__pointer"></div>
		</div>	

		<div class="timeline__section">
			<div class="timeline__text">Nostrud</div>
			<div class="timeline__pointer"></div>
		</div>		
		
		<div class="timeline__section">
			<div class="timeline__text">Nisi occaecat</div>
			<div class="timeline__pointer"></div>
		</div>				

		<div class="timeline__section">
			<div class="timeline__text">In dolore</div>
			<div class="timeline__pointer"></div>
		</div>				

		<div class="timeline__section">
			<div class="timeline__text">Duis cillum</div>
			<div class="timeline__pointer"></div>
		</div>				

		<div class="timeline__section">
			<div class="timeline__text">Ex in.</div>
			<div class="timeline__pointer"></div>
		</div>								

	</div>
	
</template>

<script>
	export default{
			name:"Timeline",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.timeline{
		font-size: 16px;
		bottom: calc(80vh - 50px);

		position: absolute;
		left: 0;
		right: 0;

		display: flex;
		flex-direction:row;
		align-items:center;
		justify-content:center;



		&__section{
			height: 50px;

			margin:0em .5em; 

			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;

			position: relative;

			cursor: pointer; 
		}

		&__text{
			font-size: 1.1em;
			margin-bottom: 4em;
		}

		&__pointer{
			width: 12px;
			height: 12px;
			border: 1px solid #333;
			border-radius: 100px;

			position: absolute; 
			bottom:calc(50%-12px);

			background-color: #f7f3f1;

			left: 0;
			right: 0;

			margin-left: auto;
			margin-right: auto;
		}

		
		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			border-bottom: 1px dotted #0a1f30;
			opacity: .2;
			-webkit-transition: border-color .5s ease-in;
			transition: border-color .5s ease-in;
		};
	}
</style>