<template>
	<div class="title">
		Что было бы не будет технологий web
	</div>
	
</template>

<script>
	export default{
			name:"Title",
			data(){
				return{
					
				}
			},
			props:{
					
			}
	}
</script>

<style lang="scss" scoped>
	.title{
		font-size: 32px;

		max-width: 30vw;
		color:#396a91;
		font-weight: bold;

		position: absolute;
		top:2vh;

		left:0;
		right:0;

		margin-left:auto;
		margin-right:auto;
	}
</style>